*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    justify-content: center;
    align-items: center;
    background:linear-gradient(195deg,rgb(14, 47, 97),rgb(8, 91, 109),rgb(22, 65, 130));
    background-size: cover;
    overflow: hidden;
    background-repeat: no-repeat;
    height: 100vh;
}
form{
    margin-left: 40%;
    height: 300px;
    margin-top: 25vh;
    width: 400px;
    background: whitesmoke;
    border-radius: 5px;
}
.reg{
    padding: 10px;
    border-radius: 4px 4px 0px 0px;
    text-align: center;
    border-bottom: 2px solid rgb(47, 108, 201);
    background: rgb(49, 146, 199);
    box-shadow: rgba(red, green, 0,0)
}
.reg p{
    font-size: 17px;
    font-family: sans-serif;
    text-transform: capitalize;
    font-weight: 500;
    color: whitesmoke;
    opacity: 0.9;
}
.tag{
    display: flex;
    flex-direction: column;
    padding: 6px;
    width: 95%;
    margin-left:2.5%;
}
.tag label{
    margin-bottom: 5PX;
    font-family: 'poppins',sans-serif;
    font-size: 16px;
    text-transform: capitalize;
}
.tag select{
    padding: 8px;
}
.tag select option{
    padding: 6px;
}
.tag input{
    padding: 8px;
    border-radius: 4px;
    border: 1.4px solid rgb(50, 131, 163);
}
.buttons{
    display: flex;
    width: 95%;
    margin-left: 2.5%;
    justify-content: space-evenly;
}
.buttons .left button{
    padding: 8px;
    border-radius: 3px;
    border: none;
    background: rgb(18, 165, 18);
    color: white;
    width: 125px;
    margin-top: 8px;
    cursor: pointer;
}
.buttons .left button:hover{
    background: transparent;
    border: 1.5px solid rgb(18, 165, 18);
    color: green;
    transition: 0.5s ease;
    letter-spacing: 1px;
}
.buttons .right button{
    padding: 8px;
    border-radius: 3px;
    border: none;
    background: rgb(230, 56, 56);
    color: white;
    width: 120px;
    margin-top: 8px;
    cursor: pointer;
}
.buttons .right button:hover{
    background: transparent;
    border: 1.5px solid rgb(230, 56, 56);
    color: red;
    transition: 0.5s ease;
    letter-spacing: 1px;
}